@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to left, #e66465, #9198e5);
}
